#wrap {
    width: 420px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    position: fixed;
    top: 140px;
    background-color: #FFFFFF;
    padding: 20px 30px;
    margin-left: 140px;
    border-radius: 4px;
}
#wrap > h6{
    display: inline-flex;
    font-size: 18px;
    width: 100%;
    height: 24px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 0px #1D3557;
    color: #1D3557;
}
#wrap > span {
    width: 100%;
    height: 40px;
    text-align: center;
    color: #1D3557;
    font-weight: 700;
}
#wrap > span > input{
    outline: transparent;
    border: transparent;
    padding: 4px 8px;
    margin: 8px 0px 8px 16px ;
    background: #FFFFFF;
    border-bottom: 1px solid #1D3557;
    color: #4F5D75;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    caret-color: #87BBA2;
}
#wrap > span > input:focus{
    border-bottom: 1px solid #87BBA2;
}
[readonly="readonly"] {
    pointer-events: none;
}
#wrap > span:nth-of-type(1) > input,
#wrap > span:nth-of-type(3) > input {
    width: 150px;
}
#wrap > span:nth-of-type(2) > input{
    width: 150px;
    opacity: 0.6;
}
#wrap > span:nth-of-type(4) > input {
    width: 200px;
}

/*密碼h5*/
#wrap > h5{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Microsoft JhengHei';
    color: #648F84;
}
/*編輯btn*/
#wrap > button {
    width: 64px;
    height: 32px;
    margin-top: 8px;
    border: transparent;
    border-radius: 20px;
    color: #C9E4CA;
    background-color: #648F84;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

/*確定btn*/
#wrap > button#check_btn {
    width: 64px;
    height: 32px;
    margin-top: 8px;
    margin-left: 16px;
    border: transparent;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #8ECAE6;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

/*取消btn*/
#wrap > button#close_btn {
    width: 64px;
    height: 32px;
    margin-top: 8px;
    border: transparent;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #F23030;
    font-size: 16px;
    cursor: pointer;
    display: none;
}